body {
  background-color: white;
  margin-top: 80px;
  font-family: sans-serif;
  padding: 30px;
}
header {
  background-color: #c9af98;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

p {
  line-height: 30px;
  /* text-indent: 50px; */
}
.box {
  width: 70%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 50px;
  color: white;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
}
.rotateimg180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
